.left-nav-lbl {
  background: linear-gradient(124.7deg, #EC475A 11.63%, rgba(236, 71, 90, 0) 44.12%), linear-gradient(28.18deg, #FD8147 14.99%, #E54784 99.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 100;
  font-size: 18px;
}
